* {
  padding: 0;
  margin: 0;
  background-color: rgb(156, 151, 151);
}

.container {
  border: 2px solid black;
  padding: 10px;
  height: 120vh;
  display: flex;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.side-main {
  width: 20%;
  /* border: 2px solid black; */
  height: 115vh;
  border-radius: 4px;
}

img {
  width: 120px;
  height: 50px;
  padding: 10px;
}
.main {
  width: 80%;
  /* border: 2px solid rgb(180, 30, 30); */
  height: 115vh;
  border-radius: 4px;
}

.side_bar {
  /* border: 2px solid rgb(180, 30, 30); */
  height: 60%;
  border-radius: 4px;
  padding-top: 10px;
  padding: 36px;
}

.side_bar .menu {
  padding: 10px;
  font-size: 10px;
   border: 2px solid white; 
  border-radius: 10px;
  display: flex;
  padding-bottom: 10px;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.side_bar .menu :hover {
  color: white;
  opacity: 0.2px;
  transition: 0.5s;
}

.dropdown {
  /* border: 2px solid rgb(30, 65, 180); */
  height: 20%;
  border-radius: 4px;
  padding-top: 10px;
}
.nav_bar {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
}
.Hero_section {
  display: flex;
}
.Hero_section_main {
  height: 85vh;
  border-radius: 4px;
  width: 75%;
}

.Hero_section_side {
 /* border: 2px solid rgb(17, 18, 19);  */
  height: 100vh;
  border-radius: 4px;
  width: 25%;
}

.main1 {
  height: 40vh;
  border-radius: 4px;
  width: 120%;
  position: relative;
  text-align: center;
  color: white;
}

.main1 img {
  width: 83%;
}
.main2 {
  /* border: 2px solid rgb(176, 59, 23); */
  height: 40vh;
  border-radius: 4px;
  width: 100%;
}

.main3 {
  /* border: 2px solid rgb(224, 141, 136); */
  height: 15vh;
  border-radius: 4px;
  width: 100%;
}

.main4 {
  /* border: 2px solid rgb(176, 163, 23); */
  height: 15vh;
  border-radius: 4px;
  width: 100%;
}

.section1 {
  /* border: 2px solid rgb(218, 217, 209); */
  height: 60%;
  border-radius: 4px;
  width: 100%;
}

.section2 {
  /* border: 2px solid rgb(196, 195, 187); */
  height: 40%;
  border-radius: 4px;
  width: 100%;
}

.main_img {
  width: 120vh;
  height: 40vh;
  margin-right: 30%;
  padding-left: 1px;
  padding-top: 1px;
}
/* padding-top: 20px;
padding-left: 60px;
} */
.input_ {
  height: 35px;
  border-radius: 10px;
  background-color: rgb(120, 114, 114);
  border: none;
  box-shadow: 1px;
  margin-left: 10px;
}

.input {
  width: 250px;
  height: 35px;
  border-radius: 10px;
  /* background-color: rgb(39, 37, 37); */
  border: none;
  background-color: rgb(198, 192, 192);
}
.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
}
select {
  appearance: none;
  outline: 0;
  background: rgb(165, 169, 165);
  background-image: none;
  width: 80%;
  height: 120%;
  color: black;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.select {
  position: relative;
  display: block;
  width: 15em;
  height: 2em;
  line-height: 3;
  overflow: hidden;
  border-radius: 0.25em;
  padding-bottom: 10px;
}

#slct > option {
  font-size: 20px;
}

.bell {
  margin-left: 600px;
  font-size: 25px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 40px;
}

.bell :hover {
  color: rgb(218, 171, 171);
}
.gear {
  margin-left: 15px;
  font-size: 25px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 40px;
}

.gear :hover {
  color: rgb(218, 171, 171);
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* .top-right {
  position: absolute;
  top: 8px;
  right: 16px;
} */

.centered {
  position: absolute;
  top: 30%;
  margin-left: 100px;
  transform: translate(-50%, -50%);
  background: none;
  font-size: 15px;
  padding-bottom: 5px;
}

.centered1 {
  position: absolute;
  top: 40%;
  margin-left: 186px;
  transform: translate(-50%, -50%);
  background: none;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-bottom: 5px;
}

.centered2 {
  position: absolute;
  top: 50%;
  margin-left: 132px;
  transform: translate(-50%, -50%);
  background: none;
  font-size: 25px;
  font-weight: 800;
  color: green;
  padding-bottom: 5px;
}

.centered3 {
  position: absolute;
  top: 60%;
  margin-left: 82px;
  transform: translate(-50%, -50%);
  background: none;
  padding-top: 15px;
}

.centered3 button {
  
  
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}
