* {
  padding: 0;
  margin: 0;
  background-color: rgb(156, 151, 151);
}

.container {
  border: 2px solid black;
  padding: 10px;
  height: 120vh;
  display: flex;
}
header{
    display: flex;
}
.side-main {
  width: 20%;
  border: 2px solid black;
  height: 115vh;
  border-radius: 4px;
}

img {
  width: 120px;
  height: 50px;
 padding: 10px;
 padding-left: 34px;
  
}
.main {
  width: 80%;
  border: 2px solid rgb(180, 30, 30);
  height: 115vh;
  border-radius: 4px;
}

.side_bar {
  border: 2px solid rgb(180, 30, 30);
  height: 60%;
  border-radius: 4px;
  padding-top: 10px;
  padding: 36px;
}

/* .menu{
    padding: 10px;
    font-size: 20px;
    border:2px solid white;
    border-radius: 50%;
    display: flex;
} */
.dropdown {
  border: 2px solid rgb(30, 65, 180);
  height: 20%;
  border-radius: 4px;
  padding-top: 10px;
}
.nav_bar {
  border: 3px solid rgb(70, 180, 30);
  height: 10%;
  width: 100%;
  display: flex;
}
.Hero_section {
  display: flex;
}
.Hero_section_main {
  border: 2px solid rgb(30, 65, 180);
  height: 85vh;
  border-radius: 4px;
  width: 75%;
}

.Hero_section_side {
  border: 2px solid rgb(17, 18, 19);
  height: 100vh;
  border-radius: 4px;
  width: 25%;
}

.main1 {
  border: 2px solid rgb(23, 176, 176);
  height: 40vh;
  border-radius: 4px;
  width: 100%;
}

.main2 {
  border: 2px solid rgb(176, 59, 23);
  height: 40vh;
  border-radius: 4px;
  width: 100%;
}

.main3 {
  border: 2px solid rgb(224, 141, 136);
  height: 15vh;
  border-radius: 4px;
  width: 100%;
}

.main4 {
  border: 2px solid rgb(176, 163, 23);
  height: 15vh;
  border-radius: 4px;
  width: 100%;
}

.section1 {
  border: 2px solid rgb(218, 217, 209);
  height: 60%;
  border-radius: 4px;
  width: 100%;
}

.section2 {
  border: 2px solid rgb(196, 195, 187);
  height: 40%;
  border-radius: 4px;
  width: 100%;
}

.main_img {
  width: 120vh;
  height: 40vh;
  margin-right: 30%;
  padding-left: 1px;
  padding-top: 1px;
}
/* padding-top: 20px;
padding-left: 60px;
} */