* {
  padding: 0px;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.conatainer{
    background-color: rgb(129, 115, 115);
}
header {
  width: 100%;
  height: 50px;
  /* border: 2px solid black; */
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  width: 20%;
  /* height: 100%; */
  /* border: 2px blue solid; */
 
  padding-left: 10px;
}

section {
  display: flex;
}
aside {
  width: 80%;
  height: 100vh;
  /* border: 2px solid red; */
  padding: 20px;
}

.Profile {
  display: flex;
}

.header {
  height: 10%;
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.challenges {
  height: 40%;
  /* border: 2px solid green; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.popular_games {
  height: 40%;
  /* border: 2px solid lavender; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.popular_games div {
    width: 90%;
}
.challenges div {
  display: flex;
  flex-direction: column;
  /* padding-left: 10px; */
  width: 90%;
  border-radius: 10px;
}

.top {
  width: 270px;
  height: 100px;
   border: 2px solid black; 
}

.mid {
  height: 60px;
   border: 2px solid rgb(25, 24, 24); 
}

.bottom {
  height: 40px;
  border: 2px solid rgb(10, 9, 9); 
  display:flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: space-around;
   
}

 .top img {
    height: 100%;
    width: 219px;
    margin: 0px;
    
 }

 .logo {
    padding-left: 10px;
    height: 10px;
    width: 10px;
    font-style: italic;
    font-weight: 800;
    font-size: 25px;
    padding-bottom: 20px;
 }

 .navbar_top {
   margin-right: 468px; 
   
 }

 .navbar_top span {
    padding: 10px;
 }

 .Profile{
    padding:10px;
 }

 .points{
    padding: 10px;
 }

 .hours {
    padding: 10px;
 }

 .picture{
    padding: 10px;
 }

 .col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}