/* all the elements that are descendants of a specified element */
 div p{
    background-color: yellow;
} 

/* The child selector selects all elements that are the children of a specified element. */

/* body > p {
    background-color: yellow;
} */

/* select an element that is directly after another specific element. */
/* div + p {
    background-color: yellow;
} */

/* div ~ p {
    background-color: yellow;
  } */